.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	background-color:lightblue;
	color:white;
	display:flex;
	text-align:center;
	padding: 0 25px;
	z-index:100;
	box-sizing: border-box;
	
}

.nav-link{
	gap:25px;
	display:flex;
	list-style: none
}

.nav-link a {
	color:#948979;
	text-decoration:none;
}

.pengenal{
	border: 1px solid black;
	width:500px;
	padding: 10px;
	margin:35px;
	border-radius:10px;
	background-color:pink;
}
.header{
	text-align:center;
	background-color:#948979;
	border-radius:3px;
	color:white;
	margin-top:85px;
}

.card{
	border-radius:10px;
	width:300px;
	padding:10px;
	transition: all 0.5s ease;
	box-shadow: 0 0px 10px rgba(0,0,0.2);
	overflow:hidden;
	position:relative;
	background-color:lightblue;
	
}

.card::before{
	content: "";
	position: absolute;
	top: 0 ; 
	left: 0;
	width:100%;
	height:5px;
	background-color: #948979;
}
.card:hover{
	transform: translateY(-15px) rotate(1deg);
}
.cards{
	display:flex;
	gap:50px;
	flex-direction:row;
	padding:30px;
	margin:20px;
}
body{
	background-color:#91C6BC;
}
.mediasosial{
	border:1px solid white;
	background-color: lightpink;
	width: 100px;
	border-radius:5px;
	padding:5px;
}
.mediasosial a {
    text-decoration: none ;
    color: black;            
    width: 100%;
	display: inline-block;
}
.container{
	display: flex; 
    justify-content: center;
    gap: 15px;              
    margin: 20px 0;
}
.mediasosial:hover {
    background-color: white;
    transform: translateY(-3px); 
    transition: 0.3s;
}
@media screen and (max-width: 750px) {
	.cards{
		flex-direction: column;
		align-items: center;
	}
	.pengenal{
		width:80%;
		margin: 18px auto;
	}
	.nav-link{
		gap:10px;
		margin-left: 0;
	}
}